{
	email {$ACME_EMAIL}
}

(common) {
	encode zstd gzip
	log {
		output stdout
		format json
	}
}

{$APP_DOMAIN} {
	import common
	reverse_proxy web:80
}

www.{$APP_DOMAIN} {
	redir https://{$APP_DOMAIN}{uri} permanent
}

{$API_DOMAIN} {
	import common
	reverse_proxy api:8000
}
